@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}


.hero {
  min-height: 100vh;
  width: 100%;
  background: rgba(15, 15, 214, 0.801) url(./img/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
.bread {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgb(255, 0, 0); */
  color: white;
}
#phone {
  font-size: 15px;
}
.social {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.text {
  display: flex;
  align-items: center;
  gap: 70px;
}
.side {
  display: flex;
  align-items: center;
  gap: 4px;
}
.icon {
  height: 25px;
  width: 25px;
  border: 1px solid rgb(255, 250, 250);
  border-radius: 50%;
  display: flex;
  padding-left: 0.3vw;
  align-items: center;
  color: rgb(255, 255, 255);
}
nav {
  height: 14vh;
  width: 100%;
  /* background-color: black; */
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding-left: 12vw;
}

.list-iteam {
  display: flex;
  gap: 20px;
}
.list {
  display: flex;
  gap: 80px;
  height: 8.5vh;
  width: 750px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  /* width: 50%; */
  border: 0.5px solid #fff;
}
.list .list-iteam h4 a {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
}

.btns {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btns .radius {
  background-color: rgb(171, 255, 46);
  padding: 0.7vw 1.8vw;
  border: 1px solid white;
  border-radius: 25px;
  color: #000000;
}
.logo h4 {
  font-size: 25px;
  font-weight: 500;
}
.humburger {
  /* display: none; */
  display: flex;
  gap: 20px;
  align-items: center;
  visibility: hidden;
  position: relative;
}
#menu {
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
#cross {
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 1000;
  position: absolute;
}

.two-side {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-wrap: wrap;
  padding: 0 8vw ;
}

.hexagon img{
  width: 370px;
  height: 350px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.two-side .left1 {
  width: 50%;
}
.two-side .left1 h1 {
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: 600;
  line-height: 50px;
}

.two-side .left1 p {
  padding-bottom: 10px;
}

.two-side .left1 button {
  padding: 0.8vw 4vw;
  background-color: rgb(127, 211, 2);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  outline: none;
  font-weight: 600;
}


.second-section {
  min-height: 50vh;
  width: 100%;
}

.toptext {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}
.circle {
  text-align: center;
  margin-bottom: 10px;
  height: 30px;
  width: 30px;
  background-color: rgb(145, 236, 7);
  border-radius: 50%;
}
.toptext p {
  font-size: 12px;
  padding-bottom: 10px;
}

.toptext h3 {
  font-size: 38px;
  padding-bottom: 10px;
  line-height: 45px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}
.card {
  margin-top: 20px;
  min-height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
}

.card img {
  padding-bottom: 10px;
}
.card h5 {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 10px;
}

.card p {
  font-size: 14px;
}

.card2 {
  background-color: rgb(108, 108, 240);
  color: #fff;
  border: 1px solid rgb(108, 108, 240);
}

.third-section {
  min-height: 50vh;
  width: 100%;
  margin-top: 50px;
}

.text2 {
  padding-top: 20px;
  min-width: 100%;
  text-align: center;
}
.text2 h3 {
  padding-top: 5px;
  font-size: 30px;
  line-height: 35px;
}

.third-side {
  min-height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 20px;
}

.text4 p {
  width: 380px;
  padding-bottom: 15px;
  text-align: justify;
}
.text4 h4{
    font-family: "Style Script", cursive;
    font-size: 20px;
    padding: 10px 0;
}

.bar{
    height: 1vh;
    width: 30vw;
background-color: rgb(189, 184, 184);
border-radius: 10px;
outline: none;
}
.bar .colors{
    height: 1vh;
    width: 94%;
    background-color: rgb(145, 236, 7);
}
.bar .color{
    height: 1vh;
    width: 40%;
    background-color: rgb(145, 236, 7);
}


.four-side{
    min-height: 80vh;
    width: 100%;
    background-color: rgb(247, 242, 242);
    margin-top: 20px;
}

.text5{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 20px;
text-align: center;
}

.all{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 40px;
  flex-wrap: wrap;

}
.left4{
  margin-top: 4vw;
}
.flex{
  min-height: 20vh;
  width: 40vw;
  border: 1px solid rgb(255, 255, 255);
  align-items: center;
  display: flex;
  margin-top: 1vw;
  background-color: #fff;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.flex1{
  display: flex;
  min-height: 20vh;
  width: 40vw;
  border: 1px solid rgb(255, 255, 255);
  align-items: center;
  margin-top: 1vw;
  background-color: #fff;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex h6 {
width: 18vw;
padding-top: 5px;
}
.flex1 h6 {
  width: 18vw;
padding-top: 5px;

  }


  .flex h6,h3 {

    padding-left: 3vw;
    }
    .flex1 h6,h3 {
      padding-left: 3vw;
      }


      .flex img{
        margin-left: 0.6vw;
        margin-top: 0.3vw;
      }
      .flex1 img{
        margin-left: 0.6vw;
        margin-top: 0.3vw;
      }


.text5 h2{
font-size: 38px;
line-height: 35px;

}
.text5 h5{
  font-size: 10px;
  
  }

  .circle-img{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 15px;
  }

  .butt{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .butt button{
    padding: 0.8vw 4vw;
    background-color: rgb(127, 211, 2);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    outline: none;
    font-weight: 600;
    margin-bottom: 20px;
  }



  .fouth-section{

    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
    
    
      }

.text8{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
  
}

.text8 h2{
  font-size: 38px;
  line-height: 35px;
}

.faq{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: 10vh;
  background-color: #ffffff;
  padding: 0 20px;
  margin-top: 25px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.faqss{
min-height: 80vh;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.cross-icon{
  height: 40px;
  width: 40px;
 background-color: rgb(212, 209, 209);
 border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-faq{
  min-height: 40vh;
  min-width: 70vw;
  background-color: rgb(52, 52, 248);
  margin-top: 20px;
  color: #fff;
  border-radius: 10px;
}
.cross-icon1{
  height: 40px;
  width: 40px;
 background-color: rgb(24, 255, 16);
 border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: 10vh;
  background-color: rgb(52, 52, 248);
  padding: 0 20px;
  margin-top: 10px;
  
}

.main-con{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 20px;

}

.main-text{
  display: flex;
  gap: 20px;
}
.small{
  padding: 0.8vw 2vw;
  background-color: rgb(127, 211, 2);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  outline: none;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 20px;

}


.fifth-section{
  min-height: 80vh;
  width: 100%;
  margin-top: 40px;
}

.top-text4{
padding-left: 26vw;
padding-top: 30px;

}
.termma{
display: flex;
justify-content: center;
margin-top: 5px;


}
.term{
  min-height: 40vh;
  width: 48vw;
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  border-radius: 20px;
}
.left-text3 h5{
  width: 20vw;
  line-height: 26px;
  
}
.left-text3 {
  margin-left: 40px;
}
.left-image {
  position: relative;
}

.left-image img{
  width: 20vw;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 5px;
}

.bottom-text{
  padding-top: 10px;
}


.sixth{
  min-height: 50vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7) url(./img/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top9{
  text-align: center;
  color: #fff;

}
.call{
  min-height: 10vh;
  width: 45vw;
  background-color: blueviolet;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.new{
  display: flex;
  gap: 10px;
  align-items: center;
}

#ph{
  font-size: 25px;
  color: #fff;
}
.do p{
  font-size: 10px;
}
.do{
  color: #fff;
}

.byy{
  padding: 0.6vw 3vw;
  background-color: rgb(127, 211, 2);
  border: 1px solid rgb(61, 255, 2);
  border-radius: 20px;
  outline: none;
  font-weight: 600;
  color: #fff;
}




.seven{
  min-height: 80vh;
  width: 100%;
}

.top03{
  display: flex;
  padding-top: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}





.card02{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
gap: 40px;
margin-top: 20px;
}

.cards02{

min-height: 30vh;
width: 20vw;
background-color: #ffffff;
color: #000000;
display: flex;
flex-direction: column;

justify-content: center


}

.cards02 p {
  font-size: 10px;
  padding-top: 8px;
  width: 20vw;
  line-height: 20px;

}
.cards02 h4 {
 padding-top: 8px;
}
.cards02 img{
  margin-top: 4px;
  border-radius: 20px;
}

.byy2{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.bt2{
  padding: 0.6vw 3vw;
  background-color: rgb(127, 211, 2);
  border: 1px solid rgb(61, 255, 2);
  border-radius: 20px;
  outline: none;
  font-weight: 600;
  color: #fff;
}


.contact{
  min-height: 80vh;
  width: 100%;
  display: flex;
align-items: center;
justify-content: center;
position: relative;
margin-top: 20px;
}

.cont{
  min-height: 50vh;
  width: 60vw;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 0 20px;
border-radius: 20px;
}
#text{
  width: 30vw;
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
  border: 1px solid white;
  outline: none;

}

#text2{
  width: 15vw;
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
  border: 1px solid white;
  outline: none;

}

#message{
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid white;
  margin-left: 3px;

}
.b1{
  padding: 0.6vw 2vw;
  background-color: rgb(127, 211, 2);
  border: 1px solid rgb(61, 255, 2);
  border-radius: 20px;
  outline: none;
  font-weight: 600;
  color: #fff;
  margin: 10px;
}
.form{
  padding-top: 20px;
 
}


.imghh img{

 width: 20vw;
border-radius: 10px;


}

footer{
  min-height: 50vh;
  width: 100%;
  background: rgba(44, 12, 226, 0.767) url(./img/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
.full{
height: 70%;
width: 100%;
display: flex;
justify-content: space-evenly;
padding-top: 5vw;
}

.alex p{
  font-size: 9px;
  width: 135px;
  padding-top: 5px;
}
.alex .sovia{
  display: flex;
  gap: 10px;
  padding-top: 5px;
}
.di1{
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 5px;
}

.lis{
  display: flex;
  gap: 20px;
}
.comp{
  color: #fff;
}

.road{
  color: #fff;
}

.alex{
  color: #fff;
}

.lg{
  height: 15vh;
  width: 100%;
  background-color: blueviolet;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}

.nesl{
  display: flex;
  align-items: center;
  gap: 10px;
}
#tele{
  font-size: 45px;
}

#search{
  width: 30vw;
    padding: 7px 4px;
    border-radius: 15px;
    border: none;
    outline: none;
}

#sear{
  padding: 0.6vw 2vw;
  background-color: rgb(127, 211, 2);
  border: 1px solid rgb(61, 255, 2);
  border-radius: 20px;
  outline: none;
  font-weight: 600;
  color: #fff;
}

.ending{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  margin-top: 10px;
}

@media (max-width: 760px) {
  .list {
    width: 450px;
  }
  .list-iteam {
    padding-right: 30px;
  }
  .btns {
    display: none;
  }
  .logo h4 {
    font-size: 20px;
    font-weight: 500;
  }
  .icon {
    padding-left: 0.7vw;
  }

  #imh {
    margin-top: 4vw;
  }
  .cards {
    gap: 40px;
    flex-direction: column;
  }
  .text2{
    text-align: center;
  }
  .third-side{
    flex-direction: column;
    gap: 60px;
    padding-top: 20px;
  }
}

@media (max-width: 560px) {
  .list {
    height: 50vh;
    width: 110vw;
    background-color: green;
    position: absolute;
    border-radius: 0;
    padding-top: 100px;
    transform: translateY(-100%);
    transition: 1s ease-in-out;
    z-index: 99;
  }

  .list .list-iteam h4 a {
    font-size: 2.5vw;
  }
  .humburger {
    visibility: visible;
  }
  #menu {
    visibility: visible;
    display: flex;
  }
  .bread {
    display: none;
  }
}
